---
import Layout from "../layouts/Layout.astro";
import Contacts from "../components/contact.astro";
---

<Layout title="Best Hospital in JP nagar" canonical="https://www.marigoldhospitals.com/contact/">
   <div class="container">
    <Contacts />
    </div>
   </div>
</Layout>