---
import Layout from "../layouts/Layout.astro";
import ServiceSingle from "../components/service-single.astro";
import Treatment from "../components/treatment.astro";
import '../components/treatment.css'
---

<Layout title="Best Internal medicine in JP Nagar and BTM Layout" canonical="">
<ServiceSingle title="Obstetrics and Gynaecology" seotag="Best Gynecology Hospitals In Bangalore" content="Women go through a range of biological and psychosomatic changes in a lifetime, including having a baby. The Centre of Excellence in Obstetrics and Gynaecology is well endowed with the gamut of multispecialty disciplines to offer superlative and holistic treatment and facilities encompassing all aspects of women and baby healthcare." image1="/images/ICU3-min.webp" image2="/images/Casualty.3-min.webp" para="Constantly buzzing with a stream of women and babies coming in to meet our gynaecologists, our outpatient and inpatient unit is equipped to diagnose and treat a range of gynaecological conditions that do not require surgery or hospitalisation. From screening tests, ultrasound scans and mammograms, to high risk pregnancy management, pain and bleeding disorders and hysteroscopy, the medical staff manning this unit is trained and qualified to streamline doctors’ meetings and on-the-spot treatment facilities.Each pregnancy is different even if it’s your tenth. We understand this perfectly and strive to meet the individual needs of your pregnancy and your newborn’s. Our obstetric care team is one of the finest in the country and supports you to understand your pregnancy and preferences. Women often neglect their health in their endeavour to care for their family’s well being. Steadfast in our belief that all women especially after 35 should have an annual check-up we conduct routine tests throughout the year, backed by comprehensive assistance and counselling. In addition to performing these vital screening tests, we also review women’s health history and counsel them individually to prevent diseases and improve their gynaecological health. If you are looking for ovary removal surgery, oophorectomy in jayanagar is the best option for you." icon="/pages/gynecology.webp" link="icu" t1="Tracheostomy" tp1="In some cases, when a patient's airways are restricted, an emergency tracheostomy is performed to allow a tube to go directly from a ventilator to the patient's windpipe through a precise incision on the neck. The procedure allows the patient to breathe while other diagnostic approaches and treatments are considered" />

<div class="section-pad">
    <div class="container">

      <h6 class="section-title pb-5 text-center">
        Treatment & Procedure
      </h6>
  
      <div class="treatment-slider owl-carousel owl-theme">
        
        <div class="slide d-flex flex-column gap-4">

          <Treatment title="Prenatal Care" content=" This involves regular check-ups during pregnancy to monitor the health of both the mother and the developing foetus. Prenatal care includes physical exams, ultrasounds, blood tests, and discussions about nutrition, exercise, and childbirth preparation."  />
    
         
          
        </div>


        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Labour and Delivery" content="Obstetricians are trained to assist in labour and delivery, including both vaginal and caesarean section (C-section) deliveries. They can provide pain management options, such as epidurals, and manage any complications that may arise during childbirth."  />
        </div>


        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Postpartum Care" content="After childbirth, postpartum care focuses on the well-being of the mother and newborn. Obstetricians provide follow-up care to monitor recovery and address any postpartum concerns."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Gynaecological Exams" content="Regular gynaecological exams are crucial for women's health. These exams typically include a pelvic exam, Pap smear (cervical cancer screening), and breast exam to detect and address any abnormalities or potential issues."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Contraceptive Counselling" content="OB/GYNs provide counselling on various birth control methods, including oral contraceptives, intrauterine devices (IUDs), hormonal implants, and barrier methods. They can help women choose the most suitable contraception based on their individual needs and preferences."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Fertility Evaluation and Treatment" content="For women experiencing difficulty conceiving, fertility evaluations and treatments can be performed. These may include hormonal therapies, ovulation induction, intrauterine insemination (IUI), and in vitro fertilisation (IVF)."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Menopause Management" content="OB/GYNs offer guidance and treatment options to manage menopausal symptoms such as hot flashes, mood changes, and bone density issues. Hormone replacement therapy (HRT) is one option for managing these symptoms."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Minimally Invasive Surgery" content="Many gynaecological procedures are now performed using minimally invasive techniques, such as laparoscopy and hysteroscopy, to reduce pain, scarring, and recovery time."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Hysterectomy" content="In cases where the removal of the uterus is necessary, hysterectomy is a surgical procedure that can be performed vaginally, abdominally, or laparoscopically."  />
          
        </div>

        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Laparotomy" content="An open abdominal surgery that may be needed for certain gynaecological conditions or for complex cases."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Intrauterine Device (IUD) Insertion:" content=" OB/GYNs can insert and remove IUDs, which are long-acting reversible contraceptives."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Colposcopy" content="  This procedure is used to further examine the cervix if a Pap smear shows abnormal results"  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Hormone Therapy" content="Hormonal treatments may be prescribed for various conditions, including managing abnormal menstrual bleeding, polycystic ovary syndrome (PCOS), and menopausal symptoms."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Pelvic Floor Rehabilitation" content="  A This may involve physical therapy and exercises to address issues like urinary incontinence and pelvic organ prolapse."  />
          
        </div>
      
       </div>
     
    </div>
  </div>
</Layout>