---
import Layout from "../layouts/Layout.astro";
import ServiceSingle from "../components/service-single.astro";
import Treatment from "../components/treatment.astro";
import '../components/treatment.css'
---

<Layout title="Best Internal medicine in JP Nagar and BTM Layout">
  <ServiceSingle
    title="ICU / Critical Care"
    seotag="Critical Care Hospital in JP Nagar"
    content="Marigold Hospitals' is one of India's leading multi-specialty healthcare providers. The ICU & Critical care department is at the core of many life saving treatments. Patients are monitored round the clock in sterile, infection safe environments by highly trained physicians, specialist nurses, respiratory therapists, counsellors and a number of specialists that are on call to assist with emergency situations. Marigold Hospitals' intensive care units are equipped for round the clock care for a number of different scenarios where a patient needs to be continuously monitored. Patients are usually moved to the ICU from emergency wards or from the general ward if their condition is no longer considered stable."
    image1="/images/ICU3-min.webp"
    image2="/images/Casualty.3-min.webp"
    para="The goal of the ICU is to stabilise patients, provide life-saving interventions, and give them the best chance for recovery. Once a patient's condition improves, they are often transferred to a standard hospital ward before eventually being discharged. However, not all ICU patients survive their critical illnesses due to the severity of their conditions. ICU care can be emotionally and physically demanding for both patients and their families. Family members are often allowed to visit the ICU, but specific policies and visiting hours may vary from one hospital to another."
    icon="/pages/ICU.webp"
    link="icu"
    t1="Tracheostomy"
    tp1="In some cases, when a patient's airways are restricted, an emergency tracheostomy is performed to allow a tube to go directly from a ventilator to the patient's windpipe through a precise incision on the neck. The procedure allows the patient to breathe while other diagnostic approaches and treatments are considered."
  />


  <div class="section-pad">
    <div class="container">

      <h6 class="section-title pb-5 text-center">
        Treatment & Procedure
      </h6>
  
      <div class="treatment-slider owl-carousel owl-theme">
        
        <div class="slide d-flex flex-column gap-4">


          <Treatment title="Advanced Monitoring" content=" ICUs are equipped with advanced medical monitoring equipment to closely monitor vital signs, such as heart rate, blood pressure, oxygen levels, and more. This continuous monitoring helps healthcare professionals detect any changes in a patient's condition promptly."  />
    
         
          
        </div>


        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Specialized Staff" content="ICUs are staffed with highly trained healthcare professionals, including intensivists (doctors specialised in critical care), nurses, respiratory therapists, and other specialists who are experienced in managing critically ill patients."  />
        </div>


        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Life Support" content="ICUs are equipped with life-support systems, such as mechanical ventilators to assist with breathing, intravenous medications, and dialysis machines to support patients with failing organ systems."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" 24/7 Care" content=" Patients in the ICU receive around-the-clock care and attention. Healthcare providers may make frequent adjustments to treatments and medications based on a patient's changing condition."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Isolation" content="In some cases, patients in the ICU may need isolation to prevent the spread of infections, so they may be placed in private rooms."  />
          
        </div>
      
      
       </div>
     
    </div>
  </div>
</Layout>
