---
import Layout from "../layouts/Layout.astro";
import ServiceSingle from "../components/service-single.astro";
import Treatment from "../components/treatment.astro";
import '../components/treatment.css'
---

<Layout title="Best Internal medicine in JP Nagar and BTM Layout">
  <ServiceSingle
    title="Internal Medicine"
    seotag="Best Internal Medicine Hospital In Bangalore"
    content="Marigold Hospital’s department of Internal Medicine acts as the backbone of patient care, with its various specialty centres that integrate the dynamic range of subspecialities of internal medicine. Our Outpatient Department (OPD) treats a large number of patients on a regular basis."
    image1="/images/ICU3-min.webp"
    image2="/images/Casualty.3-min.webp"
    para="Around 80 percent of older adults are affected by at least one chronic disease. Around 77 percent are affected by at least two chronic diseases. The four main chronic diseases are cancer, diabetes, stroke and heart disease. At Marigold Hospital, our multidisciplinary team of Internal Medicine, from various departments are well coordinated to work on cases of infectious diseases, gastroenteritis, fevers and all other medical conditions. Our specialty OPD’s of neurology, diabetes, cardiology and rheumatology are well equipped to provide the best care for all patients."
    icon="/pages/Internal-medicine.webp"
    link="internal"
  />










  <div class="section-pad">
    <div class="container">

      <h6 class="section-title pb-5 text-center">
        Treatment & Procedure
      </h6>
  
      <div class="treatment-slider owl-carousel owl-theme">
        
        <div class="slide d-flex flex-column gap-4">

          <Treatment title="Physical Examination" content="  A thorough physical examination is often the first step in diagnosing medical conditions. Doctors assess a patient's overall health and look for signs of illness or disease."  />
    
         
          
        </div>


        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Diagnostic Tests" content="Internal medicine doctors may order various diagnostic tests, including blood tests, imaging studies (X-rays, CT scans, MRIs), and biopsies to help diagnose and monitor diseases."  />
        </div>


        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Medication Management" content="Prescribing and managing medications is a significant part of internal medicine. This can include antibiotics, pain relievers, antihypertensive drugs, anticoagulants, and more."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Preventive Care" content=" Internal medicine physicians often focus on preventive medicine, including vaccinations, cancer screenings, and lifestyle modifications to reduce the risk of chronic diseases."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Chronic Disease Managementg" content="They manage chronic conditions like diabetes, hypertension, heart disease, asthma, and more, helping patients maintain their health and prevent complications."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Acute Illness Treatment" content="nternal medicine doctors treat a wide range of acute illnesses such as respiratory infections, urinary tract infections, and gastrointestinal issues."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Cardiac Procedures" content="Some internal medicine doctors may perform cardiac procedures like electrocardiograms (ECGs or EKGs) to assess heart function or stress tests to evaluate heart health."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Pulmonary Procedures" content="Spirometry is used to assess lung function, and arterial blood gas tests may be conducted to measure oxygen and carbon dioxide levels in the blood."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Gastrointestinal Procedures" content="Endoscopy and colonoscopy are commonly performed to visualise and diagnose issues in the digestive tract."  />
          
        </div>

        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Rheumatologic Procedures" content="Joint injections may be done to manage conditions like arthritis, and bone density scans can help diagnose osteoporosis"  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Dermatologic Procedures" content="Dermatologic procedures may include the removal of skin lesions, biopsies, and treatment of various skin conditions."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Endocrine Procedures" content="Insulin management for diabetes, hormone replacement therapy, and thyroid biopsies are some of the procedures related to endocrine disorders."  />
          
        </div>
       
      
       </div>
     
    </div>
  </div>
</Layout>
