---
import Layout from "../layouts/Layout.astro";
import ServiceSingle from "../components/service-single.astro";
import Treatment from "../components/treatment.astro";
import '../components/treatment.css' 
---

<Layout title="Best Internal medicine in JP Nagar and BTM Layout">
<ServiceSingle title="Major Surgery" seotag="Critical Care Hospital in JP Nagar" content= "Major surgery, also referred to as major surgical procedures or major surgical interventions, involves more complex and invasive medical procedures than minor surgeries. These surgeries often require a longer duration of anaesthesia, hospitalisation, and a more extended recovery period. Major surgeries are typically performed in a hospital operating room by experienced surgeons and a team of healthcare professionals. They are used to treat serious medical conditions, to remove tumours, repair or replace organs, and to address life-threatening or disabling issues." image1="/images/ICU3-min.webp" image2="/images/Casualty.3-min.webp" para="Major surgeries are associated with higher risks, longer hospital stays, and more extensive post-operative care. They require careful pre-operative assessment, thorough planning, and close post-operative monitoring. Patients considering major surgery should have in-depth discussions with their healthcare providers to understand the risks, benefits, and expected outcomes. In many cases, they will also undergo extensive preoperative testing to ensure they are good candidates for the procedure." icon="/pages/Major-surgery.webp" link="icu" t1="Tracheostomy" tp1="In some cases, when a patient's airways are restricted, an emergency tracheostomy is performed to allow a tube to go directly from a ventilator to the patient's windpipe through a precise incision on the neck. The procedure allows the patient to breathe while other diagnostic approaches and treatments are considered." />

<div class="section-pad">
    <div class="container">

      <h6 class="section-title pb-5 text-center">
        Treatment & Procedure
      </h6>
  
      <div class="treatment-slider owl-carousel owl-theme">
        
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Open-heart surgery" content=" Procedures like coronary artery bypass grafting (CABG) or heart valve replacement require open-chest surgery to treat cardiovascular conditions."  />
    
         
          
        </div>


        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Organ transplants" content="Replacing a failing or damaged organ with a healthy one, such as kidney, liver, lung, or heart transplantation."  />
        </div>


        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Brain surgery" content="This can include tumor removal, epilepsy surgery, or procedures to address neurological conditions like aneurysms."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Orthopaedic surgery" content=" Complex joint replacements, spinal surgeries, and procedures to treat severe fractures or deformities."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Abdominal surgeries" content="Major procedures like colectomy (removal of part of the colon), gastrectomy (stomach removal), or liver resection."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Gynaecological surgeries" content="Hysterectomy (removal of the uterus), complex ovarian procedures, or the treatment of gynaecological cancers."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Thoracic surgeries" content="Lung or esophageal surgeries, including lobectomy or esophagectomy."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Bariatric surgery" content="Surgical weight loss procedures like gastric bypass or sleeve gastrectomy."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Head and neck surgeries" content=" Procedures for cancer removal, reconstructive surgery, or addressing obstructive sleep apnea."  />
          
        </div>

        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Urological surgeries" content=" Radical prostatectomy for prostate cancer, nephrectomy for kidney cancer, or bladder surgeries."  />
          
        </div>
      
       </div>
     
    </div>
  </div>
</Layout>