---
import Layout from "../layouts/Layout.astro";
import ServiceSingle from "../components/service-single.astro";
import Treatment from "../components/treatment.astro";
import "../components/treatment.css"
---

<Layout title="Best Internal medicine in JP Nagar and BTM Layout">
  <ServiceSingle
    title="Minor Surgery"
    seotag="Best Minor Surgery Hospital in JP Nagar"
    content="Marigold Hospital is one of the leading healthcare providers in the region. The hospital offers a wide range of services and facilities, including a Minor Operation Theatre (OT). The Minor OT is equipped with modern and advanced equipment, offering a comprehensive range of surgical services. The OT is designed for a wide range of minor surgeries, such as endoscopy, laparoscopic surgery, cryosurgery, and laser surgery. The Minor OT is designed to provide the highest standards of safety and hygiene and is staffed by experienced and qualified medical professionals. The Minor OT also has dedicated anaesthesia and intensive care facilities for the comfort and safety of patients. The hospital also provides post-operative care, to ensure the best possible outcome for patients."
    image1="/images/ICU3-min.webp"
    image2="/images/Casualty.3-min.webp"
    para="It's important to note that while these procedures are considered minor in comparison to major surgeries, they still carry some level of risk, and they should be performed by trained and qualified medical professionals. Patients should discuss the benefits, risks, and expected outcomes of any surgical procedure with their healthcare provider before undergoing surgery.."
    icon="/pages/Minor-Surgery.webp "
    link="icu"
    t1="Tracheostomy"
    tp1="In some cases, when a patient's airways are restricted, an emergency tracheostomy is performed to allow a tube to go directly from a ventilator to the patient's windpipe through a precise incision on the neck. The procedure allows the patient to breathe while other diagnostic approaches and treatments are considered"
  />

 
  <div class="section-pad">
    <div class="container">

      <h6 class="section-title pb-5 text-center">
        Treatment & Procedure
      </h6>
  
      <div class="treatment-slider owl-carousel owl-theme">
        
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Biopsies" content="Removing a small sample of tissue for examination to diagnose or rule out conditions like skin cancer or breast abnormalities."  />
    
         
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Removal of cysts, moles, and skin tags" content="These procedures are often performed for cosmetic or medical reasons."  />
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Incision and drainage of abscesses " content="This involves making a small incision to drain pus from an infected area."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title=" Vasectomy" content="A surgical procedure for male sterilisation by cutting or blocking the vas deferens to prevent sperm from reaching the semen."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Removal of foreign bodies" content="Extracting objects that have become lodged in the skin, ears, nose, or other body parts."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Tooth extraction" content="The surgical removal of a problematic or impacted tooth, such as wisdom teeth."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Minor joint surgeries" content="These can include procedures like arthroscopy, which allows surgeons to visualise and treat joint problems using small incisions and specialised instruments."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Minor gynaecological procedures" content="This can include the removal of uterine fibroids, insertion of intrauterine devices (IUDs), or certain diagnostic procedures."  />
          
        </div>
        <div class="slide d-flex flex-column gap-4">
          <Treatment title="Laparoscopic cholecystectomy" content="The removal of the gallbladder using minimally invasive techniques."  />
          
        </div>
      
       </div>
     
    </div>
  </div>
 
</Layout>

<style lang="scss">

</style>
