---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Best Digital Marketing agency in bangalore"  >
    
   <div class="thankyou">
    <div class="container">
        <div class="text-center d-flex flex-column  gap-3">
      <div>
        <img src="/check.webp" alt="marigold-hospital-thankyou"  class="max-width-40">
      </div>

          <h2>Thank you !</h2>
          <p>Your form has been successfully submitted.</p>

          <a href="/">Go back home</a>
        </div>
    </div>
   </div>
</Layout>

<style lang="scss">
  .max-width-40{
    max-width: 40px;
  }
  .thankyou{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    a{
        text-decoration: underline;
    }
  }
</style>