---
import "../components/banner.css";

---


<div class="banner-section">

    <div class="owl-carousel slider-banner">

         
     


          <div class="slides ">
            
            <img src="/b1.webp" alt="marigold-hospital-lab-report">
            
            <div class="container slide">
             <p class="banner-heading text-center animate__animated animate__backInLeft"  >Access <span>Lab Reports</span> <br> at anytime </p>

             <div>
              <a href="/" class="btnn animate__animated animate__zoomInLeft">
                Get Lab Reports
               </a>
             </div>
             
             
            </div>
           
          </div>


          <div class="slides ">
            <img src="/b2.webp" alt="marigold-hospital-health-packages">
            <div class="container slide">
             <p class="banner-heading text-center"> <span>Tailored pathways</span> <br> to wellness</p>
             <div>
              <a href="/health" class="btnn">
                Get Health Packages
               </a>
             </div>
            </div>
           
          </div>

          <div class="slides">
            <img src="/b3.webp" alt="marigold-hospital-home-care">
            <div class="container slide">
             <p class="banner-heading text-center"><span>Healthcare</span> <br> at your doorstep.</p>

             <div>
              <a href="/contact" class="btnn">
                Book Home Care service
               </a>
             </div>
            </div>
          </div>


          
          
    </div>


  

   
</div>



<style lang="scss">
  .slide{
   display: flex;
   flex-direction: column;
  }
</style>

