---
import "../components/team.css";
---

<div class="management section-pad">
  <div class="container">
    <div class="section-title text-center pb-5">
      <span>Management</span> Team
    </div>

    <div class="m-team">
      
      <div class="team-wrapper">
        <img src="/team/jaym.webp" alt="marigold-hospital-chair-person" class="team-max-width"/>
        <p class="sub-head">
          <span> SMT JAYMALA NAGARAJA RAO JAGDALE</span>
        </p>
        <p class="">Chair Person</p>
        <button class="openModalBtn btnn" data-modal="modal1"
          >View Message</button
        >
        <div id="modal1" class="modal">
          <div class="modal-content animate__animated animate__bounceInUp" data-aos="fade-up">
            <span class="close" data-modal="modal1">&times;</span>
            <p class="sub-head">
              <span> SMT JAYMALA NAGARAJA RAO JAGDALE</span>
            </p>
            <p class="">Chair Person</p>

            <p>
              A philanthropic, hardworking, dedicated humanitarian best describes Smt. Jaymala Nagaraja 
              Rao Jagdale, Chairperson of the RajDisle Private Limited.
              Smt. Jaymala Nagaraja Rao Jagdale has a Bachelor’s Degree in Arts from MS University, 
              Vadodara, Gujrat.
              Apart from involving herself in the healthcare industry she actively develops Nagi farms which 
              cultivates a vast produce of organic vegetables, rice, pulses etc...  RDPL derives its strength to 
              grow, excel and lead from the vast challenges she has faced in her life.
              Married to Late Sri. Nagaraja Rao Jagdale she was instrumental in her enormous contribution to 
              the society. She firmly believes that hardwork and dedication are the key to a successful and 
              happy life.
              
            </p>
          </div>
        </div>
      </div>

      <div class="team-wrapper">
        <img src="/team/ujwala.webp" alt="marigold-hospital-managing-director" class="max-width-250"/>
        <p class="sub-head">
          <span> DR. UJWALA NAGARAJA RAO JAGDALE</span>
        </p>
        <p class="">Managing Director</p>
        <button class="openModalBtn btnn" data-modal="modal2"
          >View Message</button
        >
        <div id="modal2" class="modal">
          <div class="modal-content animate__animated animate__bounceInUp">
            <span class="close" data-modal="modal2">&times;</span>
            <p class="sub-head">
              <span>DR. UJWALA NAGARAJA RAO JAGDALE</span>
            </p>
            <p class="">Managing Director</p>

            <p>
              A compassionate humanitarian, dedicated to bringing world-class
              healthcare within the economic and geographic reach of millions of
              patients best describes Dr.Ujwala Nagaraja Rao Jagdale, Managing
              Director of RajDisle Private Limited. Dr. Ujwala N. Jagdale
              received her medical degree from the Sri Devraj Urs Medical
              College, Kolar. She completed her MD in Physiology from Bangalore
              and went on to pursue a Post Graduate Diploma in Hospital
              Administration. She has worked in the Pharmaceutical industry for
              a span of 14 years before commencing RDPL. Under the guidance and
              affection of her father Late Sri Nagaraja Rao Jagdale she learnt
              and understood philosophy and the desire to achieve a niche and
              noble feat arose within her.The dream of making world-class
              medical facilities available in India spurred her to set up the
              MARIGOLD SUGAR HOSPITALS in Bangalore in 2017.It’s a first of its
              kind dedicated hospital catering to the Diabetic and Endocrine
              segment. She firmly believes in the motto – GROW,EXCEL,LEAD. She
              is also a trustee in the RNR MEMORIAL FOUNDATION and SSDTT. She is
              a trained pianist and also has written several poetry books. An
              avid reader and a passionate chef she aims to excel in every
              sphere she undertakes to challenge. She is also a coffee planter
              and owns one of the finest coffee estates in Chikkamagalur. Under
              Dr Ujwala N. Jagdale’s leadership, RDPL has undertaken
              philanthropic work through “ Juvenile Diabetes and You” and wants
              to create a better future for children suffering from Diabetes and
              its related complications.
            </p>
          </div>
        </div>
      </div>
      <div class="team-wrapper">
        <img src="/team/Sudhindra.webp" alt="marigold-hospital-sudhindra-disle" class="max-width-250" />
        <p class="sub-head">
          <span> DR. SUDHINDRA DISLE  </span>
        </p>
        <p class=""> MBBS, MD, CIDC(UK).FACP <br> Physician & Endocrinologist</p>
        <button class="openModalBtn btnn" data-modal="modal3"
          >View Message</button
        >
        <div id="modal3" class="modal ">
          <div class="modal-content animate__animated animate__bounceInUp">
            <span class="close" data-modal="modal3">&times;</span>
            <p class="sub-head">
              <span>DR. SUDHINDRA DISLE</span>
            </p>
            <p class=""> MBBS,MD, CIDC(UK).FACP <br> PHYSICIAN & ENDOCRINOLOGIST</p>

            <p>
              A doctor par excellence, with a work experience of over 20 years,
              completely patient centic,dedicated towards treating and healing
              patients and bringing world-class healthcare within the economic
              and geographic reach of millions of patients’ best describes
              Dr.Sudhindra Disle, Managing Director of RajDisle Private Limited.
              Dr. Sudhindra received his medical degree from the prestigious JSS
              Medical College, Mysore. He completed his MD in Internal Medicine
              from RGUHS, Bangalore and went on to pursue a certified course in
              Diabetes from United Kingdom. Starting his career as a Lecturer in
              Kolar he has worked the ladder up and is now a Professor in
              Medicine. He consults in Various hospitals and has also published
              vast number of papers in State, National as well as International
              Conferences. He has also been trained in Geriatric medicine by
              WHO. He is a trained Upper GI Endoscopist. He keenly takes part in
              National as well as International trials and has travelled
              immensely attending various Diabetic and Medical conferences. He
              is also a trustee in the RNR MEMORIAL FOUNDATION and SSDTT. An
              avid reader he periodically updates himself on the latest trends
              and treatment in Endocrinology. Dr.Sudhindra is actively involved
              in the program “Juvenile Diabetes and You” and wants to create a
              better future for children suffering from Diabetes and its related
              complications.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
 
</script>
<style lang="scss">
  .max-width-250{
    max-width: 250px;
  }
  .team-max-width{
    max-width: 250px;
  }
  .m-team {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // flex-direction: column;
    column-gap: 2rem;

    @media screen and (max-width: 820px) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 2rem;
    }
    @media screen and (max-width: 540px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2rem;
    }

    .team-wrapper {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-radius: 25px;
      background-color: rgb(242, 243, 245);
      padding: 2rem 0;
      transition: var(--transition);
       box-shadow: 0px 0px 7px 1px var(--clr-one);

      cursor: pointer;

      img {
        height: 300px;
        object-fit: cover;
        margin: 0 auto;
        // background-color: green;
      }

      .sub-head{
        font-size: clamp(14px, 4vw, 18px);
      }

      P{
        text-transform: capitalize;
      }

      .words {
        text-align: justify;
        padding: 1rem;
        height: 0px;
        overflow: hidden;
      }
    }
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
    background-color: rgb(248, 248, 248);
    margin: 10% auto;
    padding: 20px;
    border-radius: 25px;
    border: 1px solid #888;
    max-width: 60%;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    text-align: left;
    // justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  .close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover {
    color: red;
  }
</style>
